.gastronomia-body {
  background: url(../img/sala.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.line-right{
  border-right: 1px solid white;
}
.line-bottom{
  border-bottom: 1px solid white;

}

.logo-img{
  width: 30%;
}


.fondo{
  background-color:rgba(98, 118, 150, 0.80);
  color: white;
}
.espacio-superior{
  padding-top: 15px;
}
.callout{
  background-color:rgba(223, 223, 245, 1);
  color: #FF00B1;
}
.menu-img{
  width: 100%;
  height: auto;
}
